@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'RobotoCondensed';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/RobotoCondensed/RobotoCondensed-Italic.ttf) format('truetype');
    }
    @font-face {
        font-family: 'RobotoCondensed';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf) format('truetype');
    }
    @font-face {
        font-family: 'RobotoCondensed';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf) format('truetype');
    }
    @font-face {
        font-family: 'RobotoMono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/RobotoMono/RobotoMono-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'RobotoMono';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/RobotoMono/RobotoMono-Bold.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Heuft';
        src: url(/fonts/HEUFTFont/fonts/heuft.ttf) format('truetype');
    }
    @font-face {
        font-family: 'HeuftMenu';
        src: url(/fonts/HEUFTFontMenu/fonts/heuft-menu.ttf) format('truetype');
    }


    html {
        @apply bg-gray-200;
    }
    .expert-only {
        @apply hidden;
    }

    .appBGNormal {
        @apply w-full bg-gradient-to-b from-heuft-blue-300 to-heuft-blue-700 drop-shadow-md;
    }

    .appBGEditMode {
        @apply bg-gradient-to-b from-heuft-orange-100 to-heuft-orange-500 drop-shadow-md;
    }

    .expert-mode .expert-only {
        @apply block;
    }

    details summary {
        transition: margin 300ms ease-in-out;
    }
    
    details[open] summary {
        margin-bottom: 1rem;
    }

    .btn-primary {
        @apply flex items-center justify-center rounded bg-heuft-orange-600 text-white h-[36px] outline-none border border-transparent px-4 hover:bg-white hover:border hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out;
    }

    .btn-secondary {
        @apply flex items-center justify-center rounded bg-transparent text-gray-600 h-[36px] outline-none border border-transparent px-4 hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out;
    }

    .btn-icon-primary {
        @apply flex items-center justify-center rounded bg-heuft-orange-600 text-white text-[16px] font-heuft h-[36px] outline-none aspect-square hover:bg-white hover:border hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out;
    }

    .btn-icon-primary_circle {
        @apply flex items-center justify-center rounded-full bg-heuft-orange-600 text-white text-[16px] font-heuft h-[36px] outline-none aspect-square hover:bg-white hover:border hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out disabled:bg-gray-300 disabled:hover:border-0 disabled:hover:text-white;
    }

    .btn-icon-primary-sm {
        @apply flex items-center justify-center rounded bg-heuft-orange-600 text-white text-[15px] font-heuft h-[28px] outline-none aspect-square hover:bg-white hover:border hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out;
    }

    .btn-icon-secondary {
        @apply flex items-center justify-center rounded bg-transparent text-gray-600 text-[16px] font-heuft h-[36px] outline-none aspect-square hover:border hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out;
    }

    .btn-icon-secondary-sm {
        @apply flex items-center justify-center rounded bg-transparent text-gray-600 text-[15px] font-heuft h-[28px] outline-none aspect-square hover:border hover:border-heuft-orange-600 hover:text-heuft-orange-600 transition-colors duration-500 ease-in-out disabled:text-gray-300 disabled:hover:border-0 disabled:hover:text-gray-300;
    }

    ::backdrop {
        background: rgb(0 0 0 / .62);
    }
    
    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 16px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(0 0 0 / 0);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #f60;
        border-radius: 0px;
        border: 6px solid white;
        border-left-width: 7px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #d40;
    }

    .errorBox {
        @apply mt-4 bg-white rounded-md flex flex-col text-sm text-gray-400;
    }
    .errorBox div:first-child {
        background-image: linear-gradient(-45deg, transparent 25%, hsla(0, 84%, 60%, .5) 25%, hsl(0, 84%, 60%, .5) 50%, transparent 50%, transparent 75%, hsl(0, 84%, 60%, .5) 75%, hsl(0, 84%, 60%, .5) 100%); background-size: 4px 4px;
        @apply bg-gray-200 p-2 pl-4 w-full rounded-t-md;
    }
    .errorBox div:first-child span {
        @apply text-red-500 bg-white rounded-sm px-1 font-bold uppercase tracking-wider;
    }
    .errorBox div:last-child {
        @apply p-4 bg-white rounded-b-md text-gray-600;
    }
    .errorBorder {
        @apply border border-red-400;
    }
}
